.favorites-body{
    background-color: #80649177;
    height: 93vh;
}
.favorites-contain{
    padding: 10px; 
    overflow-y: scroll;
    max-height: 80%;
}

.object-favorites{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 5px;
    color: rgba(255, 255, 255, 0.911);
    background-color: #6c07aa77;
}

.favorites{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
}

.favorites img{
    width:100px;
}

.btns-favorites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-right: 10px;
}


@media (max-width:578px){
    .favorites{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid black 1px;
    }
    
    .favorites img{
        width:100px;
    }
    
    #btn-favorites{
        width: 100%;
    }
    #btn-details-favorites{
        width: 100%;
    }
    
}