.div-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:solid 1px red ;
    padding-top: 10px;
    padding-left: 1%;
    padding-right: 1%;
    background-color:#92459bc5 ;
    color: white;
}

.icons{
    padding: 10px;
}

.icons:hover{
    background-color: rgb(255, 3, 3);
    border-radius: 50%;
}
.icons:active{
    background-color: rgb(236, 63, 63);
    border-radius: 50%;
}

.description{
    display: flex;
    align-items: center;
    width: 30%;
}

.description p{
    padding-left: 10px;
}