
.img-navbar{
  max-width: 80px;
}

  .navbar-nav{
    align-items: center;
  }
  .navbar-collapse{
    justify-content: end;
  }

  .navbar-collapse a{
    padding-left: 20px;
  }

  .navbar-collapse button{
    margin-left: 20px;

  }
  
  .nav-border{
    border-bottom: solid red 2px;
    height: 7vh;
  }
  .active {
    color: rgb(255, 61, 61);
    text-decoration: none;
  }
  .active:hover{
    color: rgb(255, 165, 165);
  }
  .not-active {
    color: white;
    text-decoration: none;
  }
  .not-active:hover{
    color: rgb(255, 165, 165);
  }

  @media (max-width: 991px) {
    .navbar-collapse {
      justify-content: flex-end;
      background-color: #212529;
      height: 290px;
    }
    .navbar-nav{
      align-content: center;
      margin-top: 10px;
    }

    .navbar-nav a{
      background-color: #212529;
      text-align: center;
      padding-bottom: 10px;
    }
    .cart-icon{
      width: 30px;
  }
  .img-navbar{
    max-width: 60px;
  }
  .navbar-brand{
    padding: 0;
  }
}