@media (min-width: 993px){
    .grid-profile {
        display: grid;
        gap: 20px;
        grid-template-areas:
            "aside  main";
        grid-template-columns: 1fr 5fr;
    }

    .link-profile{
        display: flex;
        flex-direction: column;
        height: 28%;
        justify-content: space-around;
      }

    .nav-profile{
        grid-area: aside;
        display: flex;
        flex-direction: column;
        border-right: solid 1px rgb(255, 0, 0);
        background-color: black;
        padding-left: 20px;
        height: 93vh;
    }
    .main-profile{
        grid-area: main;
    }
    
    .card-profile{
        border: solid 1px black;
        padding: 10px;
        margin-right: 15px;
        display: flex;
        justify-content: space-between;
    }
    
    .flex-data{
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-right: 20px;
    }
    
    .img-profile{
        width: 35%;
        height: 300px;
        border: solid 1px black;
        background-color: azure;
        display: inline-block;
        box-shadow: 0 0 10px rgba(46, 0, 34, 0.966);
    }
}

@media (max-width:992px){
    .nav-profile{
        background-color: black;
        padding: 20px;
    }

    .link-profile{
        display: flex;
        justify-content: space-around;
    }
    .link-profile a{
        margin-left: 10px;

    }

    .card-profile{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-right: 15px;
        justify-content: space-between;
        align-items: center;
    }

    .flex-data{
        padding-top: 20px;
        align-items: center;
        width: 90%;
    }
    

    .img-profile{
        width: 70%;
        max-height: 300px;
        margin: 0 auto;
        border: solid 1px black;
        background-color: azure;
    }
}
