.cart-body{
    background-color: #80649177;
    height: 93vh;
}
.cart-contain{
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.object-cart{
    border: solid 1px black;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.911);
}
.pay-cart{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

#title-cart{
    padding: 10px;
    padding-bottom: 0px;
}