body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  background-color: #80649177;
}

.view-details{
  background-color: #58195f70;
  padding: 10px;
  height: 93vh;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 #aaaaaa, 1px -1px 0 #aaa, -1px 1px 0 #aaa, 1px 1px 0 #aaa;
}

.view-details hr{
  color: #000;
}
.search{
  display: flex;
  padding: 15px 10px 0px 10px;
  width: 38%;
  justify-content: space-evenly;
}

.search select{
  width: 48%;
}

.search input{
  width: 48%;
}
.link-profile{
  display: flex;
  flex-direction: column;
  height: 28%;
  justify-content: space-around;
}

.title-center{
  padding: 10px;
  text-align: center;
}